<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <div class="principal">
            <div>
                <mat-card-title class="titulo">OS Sistem</mat-card-title>
                <mat-card-subtitle class="texto">
                    <p>Sistema de Ordem de Serviço desenvolvido com Spring Boot + Angular</p>
                    <p>Caso os serviços não apareçam, aguarde alguns instante até o banco Heroku ser carregado</p>
                </mat-card-subtitle>
            </div>
            <div>
                <img class="imagem" src="assets/img/work.png" alt="">
            </div>
        </div>
    </mat-card-header>
</mat-card>